html {
  height: 100%;
}

body {
  min-height: 100%;
  /*background-color: #e9ebee;*/
}
/* NAV */
nav {
	z-index: 1050 !important;
	background-color: #fff;
	box-shadow: none !important;
	box-shadow: 0 0px 3px 0 rgba(0,0,0,.16), 0 0px 3px 0 rgba(0,0,0,.12) !important;
}

nav a {
	color: #212121 !important;
}
nav ul li a:hover {
	background-color: rgba(158, 158, 158, 0.1);
}

nav .form-control[type=search] {
	height: 1.8em;
	border-radius: 0;
}

nav .form-control[type=search]:focus {
	border: 1px solid #9e9e9e;
	box-shadow: none;
}
.navbar-brand img {
	width: 120px;
	height: auto;
	max-height: 49px;
}
/* NAV END */

/* GLOBAL */
/*small {
	font-size: 16px;
}*/

.form-contro[type=search] {
	border-radius: 0;
	border-color: #2e2e2e;
}

.container {
	min-width: 100%;
}

.row {
	/*height: 1500px;*/
}

.sidebar, .content {
	width: 100%;
	overflow-wrap: break-word;
}

.btn {
	border-radius: 0;
}

.custom-z-depth {
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.16),0 2px 3px 0 rgba(0,0,0,.12)!important;
}
/* GLOBAL END */

/* SIDEBAR */
.sidebar {

}

.pro-pic {
	width: 226px;
	height: 226px;
}

.pro-pic img {
/*	width: 100%;
	height: auto;
	max-height: 100%;
	max-width: 100%;*/
	width: 226px;
	min-width: 226px;
	max-width: 226px;
	height: 226px;
	min-height: 226px;
	max-height: 226px;
	border-radius: 50%;
}

.inner-card {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.16),0 1px 2px 0 rgba(0,0,0,.12)!important;
}

.table td {
	text-align: right;
}

.pro-nav ul {
    list-style-type: none;
}

.pro-nav ul li {
	list-style: none;
}

.pro-nav ul li:hover {
	color: rgba(158,158,158,1);
	/*border-left: 1px solid #9e9e9e;*/
}
/* SIDEBAR END */

/* CONTENT */
.pro-download .btn {
	border: 1px solid transparent;
}

.pro-download .btn:hover {
	border-bottom: 1px solid #9e9e9e;
}
.content {

}

.pro-bio p {
	/*text-indent: 7%;*/
}

textarea {
	resize: none;
}

textarea:focus {
	border-color: #9e9e9e !important;
	box-shadow: none !important;
}

.pro-new-post .btn {
	border: 1px solid #9e9e9e;
}

.pro-new-post .btn:hover {
	color: rgba(158,158,158,1);
}

.pro-posts {
	max-height: 750px;
	overflow-y: scroll;
}

.post {
	max-width: 90%;
}

.post-content {
	height: 2500px;
}
/* CONTENT END */

/* THREAD */
.thread-links a {
	color: inherit;
}

.thread-actions .btn {
	border: 1px solid #9e9e9e;
}

.thread-actions .btn:hover {
	color: rgba(158,158,158,1);
}

.thread-reply-form {
	display: none;
}
/* THREAD END */
/* SM */
@media (min-width: 576px) {

}

/* MD */
@media (min-width: 768px) { 
	nav {
		border-bottom: 1px solid rgba(158,158,158,.5);
	}

	nav li a span {
		font-size: 10px;
		padding: 0;
	}

	nav .form-control[type=search] {
		width: 275px;
	}

	.sidebar {
		/*padding-top: 50px !important;*/
	}

	.side-col {
		/*border-right: 1px solid rgba(158,158,158,.5);*/
		/*box-shadow: 0 2px 3px 0 rgba(0,0,0,.16),0 2px 3px 0 rgba(0,0,0,.12)!important;*/
	}

	.top-pad {
		padding-top: calc(48px + 1.5rem) !important;
	}

	.sidebar .table tr {
		border-left: 1px solid transparent;
	}

	.sidebar .table tr:hover {
		background-color: rgba(158,158,158,.1);
		/*border-left: 1px solid #9e9e9e;*/
	}

	.content-container {
		/*box-shadow: 0 2px 3px 0 rgba(0,0,0,.16),0 2px 3px 0 rgba(0,0,0,.12)!important;*/
	}

	.container {
		min-width: 768px;
		max-width: 768px;
		/*overflow-y: scroll;*/
	}
}

/* LG */
@media (min-width: 992px) {
	nav .form-control[type=search] {
		width: 350px;
	}

	.container {
		min-width: 992px;
		max-width: 992px;
	}
}

/* XL */
@media (min-width: 1200px) {

}